<div id="searchContainer" class="container">
  <div id="searchHeader" class="row">
    <div class="col-md-12">
      <h2>University Ranking Top 5 Worldwide</h2>
    </div>
  </div>
  <div id="searchPreHeader" class="row bgc-white">
    <div class="col-md-5 primary-text">
      Looking for something?
    </div>
  </div>
  <div id="searchBody" class="row bgc-white">
    <div class="col-md-3">
      <input class="form-control primary-txt-input" type="text" placeholder="Job Title?">
    </div>
    <div class="col-md-3">
      <input class="form-control primary-txt-input" type="text" placeholder="Technology?">
    </div>
    <div class="col-md-3">
      <input class="form-control primary-txt-input" type="text" placeholder="Location?">
    </div>
    <div class="col-md-3">
      <input class="btn primary-btn-input" type="button" value="SEARCH" (click)="search()">
    </div>
  </div>
</div>
